app/templates/mongoConfSecret.yml
app/templates/mongo-cred-secret.yml
app/templates/kibana_secret.yml
/infra-apps/efk-stack/elastic-secret.yaml
/app/templates/grafana-secret.yaml
/infra-apps/prometheus-grafana/alertmanager.yaml
/infra-apps/prometheus-grafana/alertmanager-secret.yaml